<h1>Burgers</h1>

<ul>
    {{#each burger}}
    <li>
        <p>
            {{this.id}}. {{this.burger_name}}

            <button data-movieid="{{this.id}}" class="delmovie">Devourer it!</button>
        </p>
    </li>
    {{/each}}
</ul>